:root{
    /* --corFundo: white; */
    --corFundo: linear-gradient(to bottom, white, white,  #2ec4b574);
    --cor01: #032612;
    --cor02: #009688;
    --cor03: #00E3CC;
    --corFonte01: white;
    --corFonte02: black;
    --corFonte03: #BCC5CE;
    --themeChangeTime: ease 0.25s;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    width: 50%;
    outline: 0.4vw solid var(--corFonte02);
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 1.8vw;
    letter-spacing: 0.2vw;
}

.container h1{
    margin-bottom: 5%;
}
.container h2{
    font-weight: 300;
    font-weight: 1.5vw;
    letter-spacing: 0.1vw;
    margin-top: 1%;
}

.productContainer input{
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 2vw;
    letter-spacing: 0.2vw;
}

.inputs{
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.addProductButton{
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 1vw;
    font-size: 2vw;
    cursor: pointer;
    transition: ease 0.10s;
}

.addProductButton:hover{

    transform: scale(1.2);
    transition: ease 0.10s;
    background-color: var(--cor03);
}
